[remote "replace-with-name"]
  createMissingRepositories = false
  maxRetries = 50
  mirror = false
  projects = ^ezgerrit
  push = +refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
  remoteNameStyle = dash
  replicatePermissions = false
  rescheduleDelay = 15
  url = git@github.com:replace-with-username/${name}.git
